<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.device.mapper.IotOtaUpgradeRecordMapper">
    <insert id="batchInsert">
        INSERT INTO iot_ota_upgrade_record
        (id,task_id,device_id,device_code,firmware_id,old_version,target_version,
         upgrade_status,download_progress,downloaded_bytes,retry_count,create_time)
        VALUES
        <foreach collection="records" item="r" separator=",">
        (#{r.id},#{r.taskId},#{r.deviceId},#{r.deviceCode},#{r.firmwareId},
         #{r.oldVersion},#{r.targetVersion},#{r.upgradeStatus},0,0,0,NOW())
        </foreach>
    </insert>
</mapper>
